*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero{
    background-color: tomato;
    height: 100vh;
    display: flex;
    position: relative;
    z-index: 0;
    padding: 5em 0;
    align-items: flex-start;
    justify-content: center;
}

.hero__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: teal/; */
    height: auto;
}

.esfera{
    width: 300px;
    height: 300px;
    background-color: khaki;
    border-radius: 50%;
    position: relative;
}

.esfera::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 40%;
    height: 90px;
    border-radius: inherit;
    width: inherit;
    background-color: rgb(88, 88, 88);
    z-index: -1;
}

.esfera__volumen{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: teal; */
    padding: 1em;
    height: 200px;
}




label{
    font-size: 2em;
    font-family: 'Roboto';
    color: white;
    
}

input{
    font-size: 1.5em;
    outline: none;
    background-color: transparent;
    border: 1px white solid
}

.button{
    padding: .8em;
    font-size: 1.2em;
    cursor: pointer;
    background-color: rgb(245, 222, 94);
    color: black;
    position: relative;
    border: 1px solid rgb(235, 138, 122);
}

/*TODO:Pendiente el boton con un buen estilo*/
.button .left, .button .right{
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid rgb(235, 138, 122);
}

.button .left{
    top: 0;
    left: -20px;
}

.button .right{
    bottom: 0;
    right: -20px;
}



.esfera__res{
    display: none;
}


