*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero{
    background-color: #8fcfd1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc__container{
    background-color: lightcoral;
    display: grid;
    width: 30%;
    min-width: 20em;
    padding: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 2.3em;
    border-radius: 1em;
    
    grid-template-areas: "result  result  result  result"
                         "CE      none    none    none"
                         "button7 button8 button9 sum"
                         "button4 button5 button6 sum"
                         "button1 button2 button3 mult"
                         "buttondot button0 equal mult";
    grid-gap: 1em;
    
    justify-content: center;
    align-content: center;

    box-shadow: -10px 8px 5px rgba(0,0,0,0.75);
}

.calc__container div:not(.calc__result){
    font-size: 1.3em;
    background-color: #f9d56e;
    border-radius: .4em;
    width: 80%;
    justify-self: center;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calc__container div:nth-child(16), .calc__container div:nth-child(9) {
    display: flex;
    align-items: center;
    justify-content: center;
}


.calc__container div:nth-child(1){
    grid-area: result;
    font-size: 1.5em;
    background-color: #f3ecc2;
    padding: 0 .2em;
    cursor: initial;
}

.calc__container div:nth-child(2){
    grid-area: CE;
}

.calc__container div:nth-child(3){
    grid-area: button7;
}

.calc__container div:nth-child(4){
    grid-area: button8;
}

.calc__container div:nth-child(5){
    grid-area: button9;
}

.calc__container div:nth-child(6){
    grid-area: button4;
}

.calc__container div:nth-child(7){
    grid-area: button5;
}

.calc__container div:nth-child(8){
    grid-area: button6;
}

.calc__container div:nth-child(9){
    grid-area: sum;
}

.calc__container div:nth-child(10){
    grid-area: button1;
}

.calc__container div:nth-child(11){
    grid-area: button2;
}

.calc__container div:nth-child(12){
    grid-area: button3;
}

.calc__container div:nth-child(13){
    grid-area: buttondot;
}

.calc__container div:nth-child(14){
    grid-area: button0;
}

.calc__container div:nth-child(15){
    grid-area: equal;
}

.calc__container div:nth-child(16){
    grid-area: mult;
}